@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>The Chromium</h3>

<p>Welcome to the first ever multi-music genre nightclub. But what do we mean by 'multi-music genre?'</p>
<p>We allow multiple sets off rooms where we allow our members to stay in sections of the club
    where we provide different music genres for them.</p>
