@{
    
    ViewBag.Title = "About";
}
<body style="background-image: url(http://data.whicdn.com/images/42936297/original.jpg)">
</body>
&nbsp;
<h2>@ViewBag.Title</h2>
<h3>Club Chromium</h3>

<p style="font-weight:bolder">Welcome to the first ever multi-music genre nightclub. But what do we mean by 'multi-music genre?'</p>
<p style="font-weight:bolder">We allow multiple sets of rooms where we allow our members to stay in sections of the club
    where we provide different music genres for them.</p>
