@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5101 Washington Ave.<br />
    Racine, WI 53406<br />
    <abbr title="Phone">Phone Number:</abbr>
    425.555.0100
</address>

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div class="row">
    <script src="https://maps.googleapis.com/maps/api/js?&libraries=places&key=AIzaSyAStekB9zs5XGPWoVR6LJ91ezJBo68yL6M&callback=initMap"
            async defer></script>
    
    <div id="map"></div>
    <script>
       
        function initMap() {
            var MapOptions = {
                zoom: 8,
                center: { lat: 43.0389, lng: -87.9065 }
            }
          var map = new google.maps.Map(document.getElementById('map'), MapOptions);
          var marker = new google.maps.Marker({
              position: location,
              map: map
          });
        }
       
    </script>
</div>