
@{
    ViewBag.Title = "Manager";
}

<h2>Manager Options</h2>

<table class="table">
    <tr>
        @Html.ActionLink("Members", "Index", "Members") |
    </tr>
    <tr>
        @Html.ActionLink("Create New Event", "Create", "Events") |
    </tr>
    <tr>
        <a class="w-socials-item-link" target="_blank" href="http://localhost:14888/SendMessage.aspx">Send Message</a> |
    </tr>
</table>
