
@{
    ViewBag.Title = "Manager";
}

<h2>Manager Options</h2>

<table class="table">
    <tr>
        @Html.ActionLink("Members", "Index", "Members") |
    </tr>
    <tr>
        @Html.ActionLink("Create New Event", "Create", "Events") |
    </tr>
</table>
