@model IEnumerable<TheChromium.Models.Member>

@{
    ViewBag.Title = "Members";
}
<body style="background-image: url(http://data.whicdn.com/images/42936297/original.jpg)">
</body>
&nbsp;
<h2>Members</h2>


